body{
  background-color:  rgb(236, 238, 241);
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4C4C4C;
}
a:link, a:hover, a:active, a:visited{
  text-decoration: none;
}

.title{
  margin: auto;
  line-height: 25px;
}

form {
  background-color: rgb(255, 255, 255);
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  width: 350px;
  margin: auto;
  height: 80%;
  padding: 30px;
  margin-top: 15px;
}


label{
  display: block;
  margin-bottom: 6px;
}

.input-box{
  border: solid 1px black ;
  width: 100%;
  height: 32px;
  border: 1px solid #C1C5C8;
  border-radius: 3px;
}

input{

  border: none;

}

.create-account{
  width: 100%;
  height: 44px;
  font-size: 1.125em;
  align-items: center;
  display: flex;
  margin-bottom: 18px;

}

.button-container{
  align-items: center;
  margin: auto;
}

.main-logo{
  display: block;
  width:118px;
  height: 35px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logos-section{
  display: block;
  margin: auto;
  width: 400px;
  text-align: center;
}

.logo{
  display: inline-block;
  height: 25px;
}

.big-text{
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  margin-top: 0px;
}

.normal-text{
  font-size: 14px;
  line-height: 25px;
}

.tiny-text{
  font-size: 10px;
  color: #444;
}

.error-text{
  font-size: 14px;
  color: #eb3432;
  margin-top: 15px;
  margin-bottom: : 15px;
  display: none;
}

.small-text{
  font-size:12px;
}

.link-text{
  color: #0077C5;
}

.align-center{
  text-align: center;
}

.form-container{
  margin: : 30px;
}

.description{
  padding: 20px;
  line-height: 2px;
}

.material-icons{
  text-shadow: 1px 1px gray;
}

button{
  background-color: #0077C5;
  border:none;
  border-radius: 4px;
  color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
}
.sign-in-button{
  font-size: 13.5px;
  display: flex;
  text-align:center;
  position: relative;
  bottom: 28px;
  left: 180px;
  height: 34px;
}
.sign-text-button{
  margin: auto;
}

.text{
  display: inline-block;
  text-align: right;
}

header{
  width:280px;
  margin-left: auto;
  line-height: 3px;

}
#head-link{
  color: #0077C5;
}

.form-content{
  width: 600px;
  height: 80%;
  margin:auto;

}

.input-section{
  margin-bottom: 50px;
}


.set-button{
  position: fixed;
  bottom:2px;
  right:20px;
  background-color: #6B6C72;
  padding: 10px 12px;
  
}

.privacy-form{
  text-align: center;
}
